<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>850927988571-vdrhok4hmkd87r6m6pllos60drikjon7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.850927988571-vdrhok4hmkd87r6m6pllos60drikjon7</string>
	<key>API_KEY</key>
	<string>AIzaSyByo2vDH2eWdWX4-1axYvEiEryxsR6IfWE</string>
	<key>GCM_SENDER_ID</key>
	<string>850927988571</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nachopacelli.myCovidApp</string>
	<key>PROJECT_ID</key>
	<string>mycovidapp-418f6</string>
	<key>STORAGE_BUCKET</key>
	<string>mycovidapp-418f6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:850927988571:ios:e97532642f27f857c4347e</string>
	<key>DATABASE_URL</key>
	<string>https://mycovidapp-418f6.firebaseio.com</string>
</dict>
</plist>